@charset "UTF-8";
/* Event Positioning CSS */

.ep1860a { left: 80px; }
.ep1860b { left: 100px; }
.ep1861a { left: 120px; }
.ep1861b { left: 140px; }
.ep1862a { left: 160px; }
.ep1862b { left: 180px; }
.ep1863a { left: 200px; }
.ep1863b { left: 220px; }
.ep1864a { left: 240px; }
.ep1864b { left: 260px; }
.ep1865a { left: 280px; }
.ep1865b { left: 300px; }
.ep1866a { left: 320px; }
.ep1866b { left: 340px; }
.ep1867a { left: 360px; }
.ep1867b { left: 380px; }
.ep1868a { left: 400px; }
.ep1868b { left: 420px; }
.ep1869a { left: 440px; }
.ep1869b { left: 460px; }
.ep1870a { left: 480px; }
.ep1870b { left: 500px; }
.ep1871a { left: 520px; }
.ep1871b { left: 540px; }
.ep1872a { left: 560px; }
.ep1872b { left: 580px; }
.ep1873a { left: 600px; }
.ep1873b { left: 620px; }
.ep1874a { left: 640px; }
.ep1874b { left: 660px; }
.ep1875a { left: 680px; }
.ep1875b { left: 700px; }
.ep1876a { left: 720px; }
.ep1876b { left: 740px; }
.ep1877a { left: 760px; }
.ep1877b { left: 780px; }
.ep1878a { left: 800px; }
.ep1878b { left: 820px; }
.ep1879a { left: 840px; }
.ep1879b { left: 860px; }
.ep1880a { left: 880px; }
.ep1880b { left: 900px; }
.ep1881a { left: 920px; }
.ep1881b { left: 940px; }
.ep1882a { left: 960px; }
.ep1882b { left: 980px; }
.ep1883a { left: 1000px; }
.ep1883b { left: 1020px; }
.ep1884a { left: 1040px; }
.ep1884b { left: 1060px; }
.ep1885a { left: 1080px; }
.ep1885b { left: 1100px; }
.ep1886a { left: 1120px; }
.ep1886b { left: 1140px; }
.ep1887a { left: 1160px; }
.ep1887b { left: 1180px; }
.ep1888a { left: 1200px; }
.ep1888b { left: 1220px; }
.ep1889a { left: 1240px; }
.ep1889b { left: 1260px; }
.ep1890a { left: 1280px; }
.ep1890b { left: 1300px; }
.ep1891a { left: 1320px; }
.ep1891b { left: 1340px; }
.ep1892a { left: 1360px; }
.ep1892b { left: 1380px; }
.ep1893a { left: 1400px; }
.ep1893b { left: 1420px; }
.ep1894a { left: 1440px; }
.ep1894b { left: 1460px; }
.ep1895a { left: 1480px; }
.ep1895b { left: 1500px; }
.ep1896a { left: 1520px; }
.ep1896b { left: 1540px; }
.ep1897a { left: 1560px; }
.ep1897b { left: 1580px; }
.ep1898a { left: 1600px; }
.ep1898b { left: 1620px; }
.ep1899a { left: 1640px; }
.ep1899b { left: 1660px; }
.ep1900a { left: 1680px; }
.ep1900b { left: 1700px; }
.ep1901a { left: 1720px; }
.ep1901b { left: 1740px; }
.ep1902a { left: 1760px; }
.ep1902b { left: 1780px; }
.ep1903a { left: 1800px; }
.ep1903b { left: 1820px; }
.ep1904a { left: 1840px; }
.ep1904b { left: 1860px; }
.ep1905a { left: 1880px; }
.ep1905b { left: 1900px; }
.ep1906a { left: 1920px; }
.ep1906b { left: 1940px; }
.ep1907a { left: 1960px; }
.ep1907b { left: 1980px; }
.ep1908a { left: 2000px; }
.ep1908b { left: 2020px; }
.ep1909a { left: 2040px; }
.ep1909b { left: 2060px; }
.ep1910a { left: 2080px; }
.ep1910b { left: 2100px; }
.ep1911a { left: 2120px; }
.ep1911b { left: 2140px; }
.ep1912a { left: 2160px; }
.ep1912b { left: 2180px; }
.ep1913a { left: 2200px; }
.ep1913b { left: 2220px; }
.ep1914a { left: 2240px; }
.ep1914b { left: 2260px; }
.ep1915a { left: 2280px; }
.ep1915b { left: 2300px; }
.ep1916a { left: 2320px; }
.ep1916b { left: 2340px; }
.ep1917a { left: 2360px; }
.ep1917b { left: 2380px; }
.ep1918a { left: 2400px; }
.ep1918b { left: 2420px; }
.ep1919a { left: 2440px; }
.ep1919b { left: 2460px; }
.ep1920a { left: 2480px; }
.ep1920b { left: 2500px; }
.ep1921a { left: 2520px; }
.ep1921b { left: 2540px; }
.ep1922a { left: 2560px; }
.ep1922b { left: 2580px; }
.ep1923a { left: 2600px; }
.ep1923b { left: 2620px; }
.ep1924a { left: 2640px; }
.ep1924b { left: 2660px; }
.ep1925a { left: 2680px; }
.ep1925b { left: 2700px; }
.ep1926a { left: 2720px; }
.ep1926b { left: 2740px; }
.ep1927a { left: 2760px; }
.ep1927b { left: 2780px; }
.ep1928a { left: 2800px; }
.ep1928b { left: 2820px; }
.ep1929a { left: 2840px; }
.ep1929b { left: 2860px; }
.ep1930a { left: 2880px; }
.ep1930b { left: 2900px; }
.ep1931a { left: 2920px; }
.ep1931b { left: 2940px; }
.ep1932a { left: 2960px; }
.ep1932b { left: 2980px; }
.ep1933a { left: 3000px; }
.ep1933b { left: 3020px; }
.ep1934a { left: 3040px; }
.ep1934b { left: 3060px; }
.ep1935a { left: 3080px; }
.ep1935b { left: 3100px; }
.ep1936a { left: 3120px; }
.ep1936b { left: 3140px; }
.ep1937a { left: 3160px; }
.ep1937b { left: 3180px; }
.ep1938a { left: 3200px; }
.ep1938b { left: 3220px; }
.ep1939a { left: 3240px; }
.ep1939b { left: 3260px; }
.ep1940a { left: 3280px; }
.ep1940b { left: 3300px; }
.ep1941a { left: 3320px; }
.ep1941b { left: 3340px; }
.ep1942a { left: 3360px; }
.ep1942b { left: 3380px; }
.ep1943a { left: 3400px; }
.ep1943b { left: 3420px; }
.ep1944a { left: 3440px; }
.ep1944b { left: 3460px; }
.ep1945a { left: 3480px; }
.ep1945b { left: 3500px; }
.ep1946a { left: 3520px; }
.ep1946b { left: 3540px; }
.ep1947a { left: 3560px; }
.ep1947b { left: 3580px; }
.ep1948a { left: 3600px; }
.ep1948b { left: 3620px; }
.ep1949a { left: 3640px; }
.ep1949b { left: 3660px; }
.ep1950a { left: 3680px; }
.ep1950b { left: 3700px; }
.ep1951a { left: 3720px; }
.ep1951b { left: 3740px; }
.ep1952a { left: 3760px; }
.ep1952b { left: 3780px; }
.ep1953a { left: 3800px; }
.ep1953b { left: 3820px; }
.ep1954a { left: 3840px; }
.ep1954b { left: 3860px; }
.ep1955a { left: 3880px; }
.ep1955b { left: 3900px; }
.ep1956a { left: 3920px; }
.ep1956b { left: 3940px; }
.ep1957a { left: 3960px; }
.ep1957b { left: 3980px; }
.ep1958a { left: 4000px; }
.ep1958b { left: 4020px; }
.ep1959a { left: 4040px; }
.ep1959b { left: 4060px; }
.ep1960a { left: 4080px; }
.ep1960b { left: 4100px; }
.ep1961a { left: 4120px; }
.ep1961b { left: 4140px; }
.ep1962a { left: 4160px; }
.ep1962b { left: 4180px; }
.ep1963a { left: 4200px; }
.ep1963b { left: 4220px; }
.ep1964a { left: 4240px; }
.ep1964b { left: 4260px; }
.ep1965a { left: 4280px; }
.ep1965b { left: 4300px; }
.ep1966a { left: 4320px; }
.ep1966b { left: 4340px; }
.ep1967a { left: 4360px; }
.ep1967b { left: 4380px; }
.ep1968a { left: 4400px; }
.ep1968b { left: 4420px; }
.ep1969a { left: 4440px; }
.ep1969b { left: 4460px; }
.ep1970a { left: 4480px; }
.ep1970b { left: 4500px; }
.ep1971a { left: 4520px; }
.ep1971b { left: 4540px; }
.ep1972a { left: 4560px; }
.ep1972b { left: 4580px; }
.ep1973a { left: 4600px; }
.ep1973b { left: 4620px; }
.ep1974a { left: 4640px; }
.ep1974b { left: 4660px; }
.ep1975a { left: 4680px; }
.ep1975b { left: 4700px; }
.ep1976a { left: 4720px; }
.ep1976b { left: 4740px; }
.ep1977a { left: 4760px; }
.ep1977b { left: 4780px; }
.ep1978a { left: 4800px; }
.ep1978b { left: 4820px; }
.ep1979a { left: 4840px; }
.ep1979b { left: 4860px; }
.ep1980a { left: 4880px; }
.ep1980b { left: 4900px; }
.ep1981a { left: 4920px; }
.ep1981b { left: 4940px; }
.ep1982a { left: 4960px; }
.ep1982b { left: 4980px; }
.ep1983a { left: 5000px; }
.ep1983b { left: 5020px; }
.ep1984a { left: 5040px; }
.ep1984b { left: 5060px; }
.ep1985a { left: 5080px; }
.ep1985b { left: 5100px; }
.ep1986a { left: 5120px; }
.ep1986b { left: 5140px; }
.ep1987a { left: 5160px; }
.ep1987b { left: 5180px; }
.ep1988a { left: 5200px; }
.ep1988b { left: 5220px; }
.ep1989a { left: 5240px; }
.ep1989b { left: 5260px; }
.ep1990a { left: 5280px; }
.ep1990b { left: 5300px; }
.ep1991a { left: 5320px; }
.ep1991b { left: 5340px; }
.ep1992a { left: 5360px; }
.ep1992b { left: 5380px; }
.ep1993a { left: 5400px; }
.ep1993b { left: 5420px; }
.ep1994a { left: 5440px; }
.ep1994b { left: 5460px; }
.ep1995a { left: 5480px; }
.ep1995b { left: 5500px; }
.ep1996a { left: 5520px; }
.ep1996b { left: 5540px; }
.ep1997a { left: 5560px; }
.ep1997b { left: 5580px; }
.ep1998a { left: 5600px; }
.ep1998b { left: 5620px; }
.ep1999a { left: 5640px; }
.ep1999b { left: 5660px; }
.ep2000a { left: 5680px; }
.ep2000b { left: 5700px; }
.ep2001a { left: 5720px; }
.ep2001b { left: 5740px; }
.ep2002a { left: 5760px; }
.ep2002b { left: 5780px; }
.ep2003a { left: 5800px; }
.ep2003b { left: 5820px; }
.ep2004a { left: 5840px; }
.ep2004b { left: 5860px; }
.ep2005a { left: 5880px; }
.ep2005b { left: 5900px; }
.ep2006a { left: 5920px; }
.ep2006b { left: 5940px; }
.ep2007a { left: 5960px; }
.ep2007b { left: 5980px; }
.ep2008a { left: 6000px; }
.ep2008b { left: 6020px; }
.ep2009a { left: 6040px; }
.ep2009b { left: 6060px; }
.ep2010a { left: 6080px; }
.ep2010b { left: 6100px; }
.ep2011a { left: 6120px; }
.ep2011b { left: 6140px; }
.ep2012a { left: 6160px; }
.ep2012b { left: 6200px; }