@charset "UTF-8";
/* Timeline CSS */

/* set html and body to fill entire screen */
html, body {
	margin: 0px;
	padding: 0px;
	/* background-color: #fff;	*/
}

/* top level containers */

#container {
	padding: 0px;
	margin: 0px;
	/* background-color: #fff;	*/
}

/* header is the container for all the elements that are at the top of the page and are affixed to the top */

#header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 200px;
	z-index: 300;
	background-color: #333;
	min-width: 960px;
	padding: 10px;
	padding-top: 0px;
	
}

/* categories is the container for all timeline categories - variable height, displayed under the header, margin-top must equal header height + header padding times two */

#categories {
	width: 6400px;
	margin-top: 210px;
	position: relative;
	z-index: 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;	
		
}

/* second level containers */

/* containers within header */

/* headerWrap gathers all the inner header containers puts them into 960px wide box and centers itself within the header container */
#headerWrap {
    width: 960px;
    margin: 0px auto;
	text-align: center;
	padding: 0px;
}

.headerHR {
	float: left;
	width: 960px;
	height: 2px;
	border-bottom: 1px solid #222;	
}

/* headerMenu contains the top right aligned menu */
#headerMenu {
	width: 960px;
	padding: 0px;
	margin: 0px;
	text-align: right;
	z-index: 400;
}

/* headerText contains all the textual elements that belong to the header */
#headerText {
	width: 940px;
	float: left;
    margin: 0px auto;
	text-align: center;
	padding: 10px;
	/*background-color:#999;*/
}

/* headerButtons contains category buttons that belong to the header */
#headerButtons {
	width: 940px;
	float: left;
    margin: 0px auto;
	text-align: center;
	height: 20px;
	padding: 10px;
	padding-top: 15px;
	/*background-color:#ccc;*/
}

/* headerScroller contains scrollbar */
#headerScroller {
	width: 930px;
	height: 20px;
	float: left;
    margin: 0px auto;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	/*background-color:#aaa;	*/	
}

/* inner header classes */

/* classes for header text */
#headerText h1 {
	font-family: 'Arial Narrow', sans-serif;
	font-size:18px;
	text-align: center;
	line-height: 18px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
	text-transform: uppercase;
	color: #fff;	
}

#headerText p {
	font-family: 'Arial Narrow', sans-serif;
	font-size:11px;
	text-align: center;
	line-height: 16px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;	
}

#headerText a {
	color: #Fff;
	font-weight: bold;		
}

#headerMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 2px;
}

#headerMenu li {
	display: inline;
	margin-left: 5px;
	padding: 5px;
	padding-top: 8px;	
	background-color: #fff;
	border: 1px solid rgba(0,0,0, 0.5);;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	font-family: 'Arial Narrow', sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align: center;
	text-transform:uppercase;
	color: rgba(0,0,0, 0.5);

}

#headerMenu li:hover {
	color: rgba(255,255,255,1);
	background:url(../images/whitesq.png);
	cursor: pointer;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;	
}

#headerMenu .first {
	margin-left: 0px;
}

#headerMenu .off {
	background: none;
	color: rgba(255,255,255, 0.75);
	background:url(../images/whitesq.png);
	cursor: pointer;	
}

#headerMenu a {
	text-decoration: none;
	color: rgba(0,0,0, 0.5);
}

#headerMenu a:hover {
	text-decoration: none;
	color: rgba(255,255,255,1);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;	
}


/* css options for the scrollbar */
/* 
	scrollpane is what is seen of the categories on the screen
	scrollcontent is how wide the content actually is - needs to correspond to categories, iframeclass, label classes widths
	scrollwrap is the the wrap of the scrollbar - it has the background of the scrollbar - the scale with years
	scroll-bar-wrap is inner size of the scrollbar - a hack to make the handle of the scrollbar appear within background boundaries
	
*/
.scrollpane { overflow: hidden; width: 100%; float:left; }
.scrollcontent { width: 6400px; float: left; }
.scrollwrap { width: 916px; height: 30px; padding: 0px; margin: 0px; border: 0px; background-image:url(../images/slider-scale.png); background-repeat: no-repeat; background-position: 5px 0px;  cursor:pointer; }
.scroll-bar-wrap { width: 900px; height: 20px; background: none; padding: 0px; margin: 0px auto; border: 0px; border-radius: 0px; }
.scroll-bar-wrap .ui-slider { background: none; padding: 0px; margin: 0px auto; border: 0px; border-radius: 0px;  }
.scroll-bar-wrap .ui-handle-helper-parent { width: 100%; position: relative; height: 100%; margin: 0 auto; padding-right: 0px;}
.scroll-bar-wrap .ui-slider-handle { top: 2px; height: 14px; background: rgba(116,147,245,0.75); border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-left: 0px; margin-right: 5px; cursor:pointer;}
.scroll-bar-wrap .ui-slider-handle .ui-icon { background: none;}
.scroll-bar-wrap .ui-state-default { border: 1px solid rgba(255,255,255, 0.85); }
.scroll-bar-wrap .ui-state-hover, .ui-state-focus { border: 1px solid rgba(255,255,255, 0.85);  cursor:pointer;}
.scroll-bar a { outline:none; -moz-outline-style:none; }

/* classes to make category buttons work */
.cbutton ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.cbutton li {
	display: inline;
	margin-left: 5px;
	padding: 5px;
	
	border: 1px solid rgba(0,0,0, 0.5);;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	font-family: 'Arial Narrow', sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	text-transform:uppercase;
	color: rgba(0,0,0, 0.5);

}

.cbutton li:hover {
	color: rgba(255,255,255,1);
	background:url(../images/whitesq.png);
	cursor: pointer;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	
}
.cbutton .first {
	margin-left: 0px;
}

.cbutton .off {
	background: none;
	color: rgba(255,255,255, 0.75);
	background:url(../images/whitesq.png);
	cursor: pointer;	
}


/* category classes */

.category {
	width: 6400px;
	height: 120px;
	position: relative;
}

.label {
	width: 6400px;
	height: 18px;
	padding-top: 15px;
}

.catLabel {
	padding: 5px;
	margin-left: 15px;
	
	background-color: #FFF;	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;

	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	font-family: 'Arial Narrow', sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	text-transform:uppercase;
}

/* this styles our iframes containing the category html files */
.iframeclass {
	width: 6400px;
	height: 120px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: url(../images/scale.png) repeat-x bottom;	
}

/* background color styles */
.color960 { background-color: #960; }
.color096 {	background-color: #096; }
.color063 {	background-color: #e9b22d;	}
.colorC00 {	background-color: #C00;	}
.colorCCC {	background-color: #CCC;	}
.color6CC {	background-color: #6CC;	}
.color639 {	background-color: #9b48ed;	}
.color69C {	background-color: #69C;	}
.color690 {	background-color: #690;	}
.color3F0 {	background-color: #3F0;	}
.color39F {	background-color: #39F;	}
.colorFFF { background-color: #FFF; }
